.dental{
    background-image: url("../Images/contact-bg.webp");
    height: 60vh;
    width: 100%;
    background-size: cover;
  
 
}
.apointbox{
    height: 15vh;
    width: 25vw;
    background:white;
    margin-top: 20vh;
    padding: 20px;
    border: 2px solid rgb(184, 232, 238);
    outline: white solid 10px;
   
 
}
    


.dental {
    background-image: url("../Images/contact-bg.webp");
    height: 60vh;
    width: 100%;
    background-size: cover;
  }
  
  .apointbox {
    height: 15vh;
    width: 25vw;
    background: white;
    margin: 20vh auto; /* Center the box vertically and horizontally */
    padding: 20px;
    border: 2px solid rgb(184, 232, 238);
    outline: white solid 10px;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 768px) {
    .dental {
      height: auto; /* Change height to auto for responsiveness */
    }
  
    .apointbox {
      width: 80%; /* Adjust width for smaller screens */
      /* margin-top: 5vh; Adjust top margin for smaller screens */
      /* margin-bottom: 20vh; */
      height: auto;
  
      /* Adjust bottom margin for smaller screens */
    }
  }
  