/* Bluehead.css */

/* Default styles */
.navbar-brand {
    color: white;
   
    margin-left: 25vw;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .navbar-brand {
      text-align: center;
      margin-left: 0px;
      margin-right: 0px;
      
      /* visibility: hidden; */
    
    }
    
    
  }

  @media (max-width: 768px) {
    #lofy{
      text-align: center;
      margin-left: 0  !important;
      
      max-width: 30%; /* Adjust as needed */
     margin: 0%;
      padding: auto;
    
    }
    
    
  }
  
  /* Bluehead.css */

/* Default styles */
.navbar-brand {
  color: white;
  margin-left: 25vw;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar-brand {
      text-align: center;
      margin-left: 0;
      margin-right: 0;
  }
  
  .navbar-brand p {
      text-align: center;
      max-width: 100%; /* Adjust as needed */
      margin: 0 auto; /* Center the paragraph horizontally */
      font-size: .5rem;
      
  }
}
@media (max-width: 413px) {
  .navbar-brand {
      text-align: center;
      margin-left: 0;
      margin-right: 0;
  }
}

#lofy{
  text-size-adjust: 1em;
}

